.testimonial-section{
    margin-top: 70px;
}


.content-slider-main{
    margin-top: 20px;
    display:flex;
   align-items: center;
   justify-items: center;
}


.content-slider{
    padding: 10px;
    color: white;
    background-color: rgb(164 61 144);
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    height: 310px;
    margin: 15px;
    border-radius: 5px;
    align-self: center
}


#dark .content-slider{
    background-color: #38004C;
    color: white;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}


.slick-prev:before{
    color:  rgb(164 61 144)!important;
    font-size: 30px;
}
.slick-next:before{
    color:  rgb(164 61 144)!important;
    font-size: 30px;
}
.slick-disable{
    color: rgb(123, 18, 222);
}
@media (max-width: 480px) {
    .content-slider{
      height:450px;
    }
    .testimonial-section{
        margin-top: 20px;
        padding: 20px 40px 0 40px;
    }
  } 