.testimonial-section{
    margin-top: 70px;
}


.content-slider-main{
    margin-top: 20px;
    display:flex;
   align-items: center;
   justify-items: center;
}


.content-slider{
    padding: 10px;
    color: white;
    background-color: rgb(164 61 144);
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    height: 310px;
    margin: 15px;
    border-radius: 5px;
    align-self: center
}
.slick-slider {
    touch-action: unset!important;
    -webkit-tap-highlight-color: unset!important;
}
#dark .content-slider{
    background-color: #38004C;
    color: white;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}
.slick-slider {
    touch-action: unset!important;
    -webkit-tap-highlight-color: unset!important;
}
.slick-prev {
    left: -40px!important;
    transform:unset!important; 
  }
  .slick-prev {
    transform:unset!important; 
  }
  .slick-prev:before{
    color: rgb(164 61 144)!important;
    font-size:30px;
    left: -40px!important;
    transform:unset!important;
  }
  
  .slick-next:before{
    color: rgb(164 61 144)!important;
    font-size:30px!important;
    right:-25px!important;
    transform:unset!important;
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: unset!important;
  }

.slick-disable{
    color: rgb(123, 18, 222);
}
@media (max-width: 480px) {
    .content-slider{
      height:450px;
    }
    .testimonial-section{
        margin-top: 20px;
        padding: 20px 40px 0 40px;
    }
  } 