.products-slider {
    height: auto;
    padding-top: 40px;
  }
  .slider-slide{
    margin-top: 30px;
  }
  .slider-title{
    text-align: center;
  }

  .card.content-slider{
    padding:10px;
    color: black;
    text-align:center;
    margin: 10px;
    height: auto;
    background:rgb(249 249 249 / 75%);
  }
  .content-slider img.center-image{
    width: 100%;
    height: auto;
  }
.slick-prev:before{
    color: rgb(164 61 144)!important;
    font-size:30px;
}

.slick-next:before{
    color: rgb(164 61 144)!important;
    font-size:30px;
}
.slick-disable{
   pointer-events:none;
}
  
@media (max-width: 480px) {
  .products-slider {
    padding: 42px 42px 20px 42px;
  }
  .slick-dots li button:before{
    top:20px!important;
  }
} 