.contact-section{
    height:auto;
    padding-bottom:40px;
    position:relative;
    padding-top:40px;
    margin-top:20px;
}
.image-class img{
    height:408px;
    width:100%;
    border-radius: 20px;
    max-width: 100%;
}
.contact-us{
    padding:15px;
}
.contact-form-design{
    width:100%;
    box-shadow: 15px 9px 0px -2px rgba(230, 224, 224 0.86);
    -webkit-box-shadow: 15px 9px 0px -2px rgba(230, 224, 224 0.86);
    -moz-box-shadow: 15px 9px 0px -2px rgba(230, 224, 224 0.86);
}

.contact-form input{
    height:50px;
    border-radius: 10px;
    margin-top:0px;
    margin-bottom:10px;
    width:100%;
}

.custom-select{
    height:50px;
    border-radius: 10px;
    margin-top:0px;
    margin-bottom: 10px;
    width:100%
}

.button-submit button {
    display:flex;
    justify-content:center;
    margin: 0 auto;
    border-radius:30px;
    background-color: rgb(164 61 144);
    color: #ffecec;
    padding:10px;
    width:50%;
    margin-top:20px;
    cursor:pointer;
    border:none;
}

.button-submit button:hover {
    background-color: green;
    color:white;
    transition-duration:2s;
}
.button-submit button:disabled,
.button-submit button:disabled:hover,
.button-submit button:disabled:active {
  background-color:#ccc;
  color:#292929;
  border-color: #ccc;
  cursor:not-allowed;
}
.error-text{
  color:red;
  margin:0;
}

.invalid input{
  border: 1px solid #b40e0e;
}  

.form-control:focus {
  border-color: none;
  box-shadow: none;
}


.invalid input:focus{
  border-color: #ff8800;
  background-color:#fbe8d2;
}
