#projects{
  height: auto;
  margin-top: 62px;
}
section .section-title {
  text-align: center;
  margin-bottom: 60px;
}

section .section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#dark .projects{
  color: white;
}

.post-card {
  height: auto;
  margin-top: 10px;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  cursor: pointer;
}

#dark .post-card{
  background-color: #38004c;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

#dark .post-card-open{
  background-color: #38004c;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.post-card:hover{
  border-left: 5px solid rgb(164 61 144);;
  cursor: pointer;
  transition-duration: 1s;
}

.post-card-open{
  height: auto;
  margin-top: 10px;
  border-left: 5px solid  rgb(164 61 144);;
   box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
   -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
   -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
   cursor: pointer;
}

.collapse-option{
  display: flex;
  justify-content: space-between;
  height: 55px;
  padding: 0 15px;
  align-items: center;
}
.collapse-option p{
 margin-top: 15px;
}
.collapse-option h6{
 margin:0;
}
.collapse-option svg polygon{
  fill: rgb(164 61 144);
}
.description{
  height: auto;
  padding: 0 15px 5px 15px;
}

.section-title h5{
  text-align: center;
}
.pagination-details{
  margin-top: 10px;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}

#dark .pagination-details{
  background-color: #38004c;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  color: white;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: unset!important;
}

@media (max-width: 480px) {
  section .section-title {
   margin-bottom:20px;
  }
} 